<!DOCTYPE html>
<html>
<body>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

a:link, a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #00008B;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #6666FF;
}
</style>
<ul>
     <li><a href="index.php">Home</a></li>
     <li><a href="Videos.php">Videos</a></li>
     <li><a href="Audio.php">Audio</a></li>
     <li><a href="upload.php">upload</a></li>
     <li><a href="links.php">links</a></li>
</ul>
</body>
</html>