<!DOCTYPE html>
<html>
<body>
<style>

body  {
    background-image: url('http://lbc9.com/digital-art/abstract/black-and-white-abstract-lines/abstract-white-gray-lines-1080p.jpg');
    background-color: #cccccc;
}
.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
	height: 70%;
    background-color: darkblue;
}
</style>
</head>
<body>

<div class="center">

<h2 style="color:white">Heathly Food</h2>
<ol style="color:white">
<li>Fruit</li>
<ul style="list-style-type:circle";"color:white">
 <li>Apples</li>
 <li>Bananas</li>
 <li>Lemons</li>
 <li>Oranges</li>
</ul> 
<li>Vegetables</li>
<ul style="list-style-type:circle">
<li>Celery</li>
<li>Lettuce</li>
<li>Spinach</li>
<li>Turnip</li>
</ul>
</ol>
</div>
</body>
</html>