<!DOCTYPE html>
<html>
	<head>
	<style media="screen">
	h1 { font-family:Verdana, sans-serif;
    color:#576D94;
}
p {font-size:18px;
    font-family:Garamond, serif;
    color:#4A4943;
}
img { height:100px;
    border:1px solid #4682b4;
}
a {text-decoration:none;
    color:#cc0000;
}
</style>
		<title>Result</title>
	</head>
	<body>
	<h1>anything you want!</h1>
	<p>any text you like in there</p>
	<img src="http://www.warrenphotographic.co.uk/photography/bigs/22317-Silver-tabby-kitten-and-agouti-Lop-rabbit-white-background.jpg"/>
	<a href="url">lolcat.com</a>
	</body>
</html>