<!DOCTYPE HTML>
<html lang="en-us">
<head>
<meta charset="utf-8">
<title>L11 Deliberate Practice Plan</title>

<style>
#margin {
		margin: 0 auto;
		height: 70px;
		width: 100px;
		background-color: green;
		color: yellow;
		
		}
#padding {
		padding: 50px;
		height: 100px;
		width: 150px;
		background-color: blue;
		color: white;
		}
#pos {
		position: fixed;
		top: 30px;
		right: 5px;
		color: red;
		}
img {
    float: right;
}
		
</style>
</head>
<body>
<div id= margin>This has auto left and right margins</div>
<div id= padding>This has 50px padding all around</div>
<div id= pos>This has a fixed position</div>

<p><img src="http://www.w3schools.com/css/w3css.gif" width="100" height="140" alt="w3schools"/>
 This image floats right. This image floats right. This image floats right. This image floats right. This image floats right. This image floats right. This image floats right. This image floats right. This image floats right.
  This image floats right. This image floats right. This image floats right. This image floats right. This image floats right. This image floats right. This image floats right. This image floats right. This image floats right.
</p>
</body>
</html>